<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwx.oss.mapper.HistoryMapper">

    <insert id="insertHistory">
        insert into edu_history (course_id, user_id, chapter_id, video_id)
        values (#{history.courseId},#{history.userId},#{history.chapterId},#{history.videoId})
    </insert>
</mapper>
