<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwx.oss.mapper.StatisticsDailyMapper">

    <update id="updateVideo">
        update statistics_daily
        set video_view_num = video_view_num + 1
        where date_calculated = #{today}
    </update>
</mapper>
