<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwx.edu.mapper.DiscussReplyMapper">

    <select id="getMark" resultType="Integer">
        select max(mark)
        from discuss_reply;
    </select>
    <select id="getReplyById" resultType="com.lwx.edu.entity.vo.ReplyVo">
        select p.id,
               publish_id,
               user_id,
               u.nickName,
               u.salt,
               content,
               good,
               bed,
               p.gmt_create
        from discuss_reply p
                 inner join user u on p.user_id = u.id
            ${ew.customSqlSegment}
        order by gmt_create DESC
    </select>
</mapper>
